body {
    text-align: center;
}

.settings {
    margin: 0 auto;
    display: flex;
    width: 505px;
    justify-content: space-between;
    align-items: center;
}

.available {
    cursor: pointer;
}

.unavailable {
    cursor: default;
}
