html {
    box-sizing: border-box;
}


body {
    text-align: center;
    background: #ffffff url('../images/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.settings {
    margin: 0 auto;
    display: flex;
    width: 505px;
    justify-content: space-between;
    align-items: center;
}
/*左上角3个按钮*/
.available {
    cursor: pointer;
}

.unavailable {
    cursor: default;
}

/* 遮罩层: z-index数字大的在上面，position: absolute；两个层必须是平级（同一个div的娃） */
#congratulations {
  margin: 0 auto;
  border: 1px solid #aa7ecd;
  border-radius: 10px;
  background: url('../images/geometry2.png');
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  width: 300px;
  height: 270px;
  padding: 40px;
  align-items: center;
  text-align: center;
  opacity:0.8;
  z-index:2;
  position: absolute;
}

.showWindow {
  display: block;
}

.hideWindow {
  display: none;
}

.purpleButton {
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

#replay, #close {
  box-sizing: border-box;
  text-align:center;
  height:40px;
  width: 100px;
  border-radius:4px;
  border:1px solid #aa7ecd;
  color:#8d15ee;
  display:block;
  outline:0;
  padding:0 1em;
  cursor: pointer;
}
